<header>
  <table>
    <tr>
      <td><%= image_tag "image1.jpg", size: '1300x300', class: 'fakebook-logo' %></td>
    </tr>
  </table>
</header>

<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>

<%= link_to 'Show', @blog %>
<%= link_to 'Back', blogs_path %>
