<header>
  <table>
    <tr>
      <td><%= image_tag "image1.jpg", size: '1300x300', class: 'fakebook-logo' %></td>
    </tr>
  </table>
</header>

<h1>La page de <%= @user.name %></h1>

<p>Son adresse e-mail est: <%= @user.email %></p>
