<h1>Votre demande est terminée !</h1>
<div>
  <div>
    <h4>Image postée</h4>
    <%= image_tag(@contact.image.url) if @contact.image && @contact.image.url %>
  </div>
  <div>
    <h4>Confirmation des informations</h4>
    <%= @contact.description %>
  </div>
</div>
